<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>

   <body>
      <%- include('includes/nav') %>
         <%- include('partials/breadcrumb') %>

            <!-- Add University Modal -->
            <form method="post">
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h1 class="modal-title fs-5" id="exampleModalLabel">
                              Add Semester 
                           </h1>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <div class="form-group">
                              <label for="recipient-name" class="col-form-label">Subject
                              Code:</label>
                              <input name="code" type="text" class="form-control" id="recipient-name">
                           </div>
                           <div class="form-group">
                              <label for="recipient-name" class="col-form-label">Subject
                              Name:</label>
                              <input name="name" type="text" class="form-control" id="recipient-name">
                           </div>
                           <div class="form-group">
                              <label for="message-text" class="col-form-label">Subject
                              Description:</label>
                              <textarea name="desc" class="form-control" id="message-text"></textarea>
                           </div>
                           <div class="form-group">
                              <label for="recipient-name" class="col-form-label">Subject
                              Tags:</label>
                              <input name="tags" type="text" class="form-control" id="recipient-name">
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="submit" class="btn btn-primary">
                              Save changes
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </form>

            <!-- Information About Universities -->
            <% var index=0; %>
               <% Query.forEach(University=> { %>
                  <% University.Course.forEach(Course=> { %>
                     <% Course.Branch.forEach(Branch=> { %>
                        <% Branch.Year.forEach(Year=> { %>
                           <% Year.Semester.forEach(Sem=> { %>
                              <% Sem.Subject.forEach(Subject => { %>
                                 <% index++ %>
                                 <div class="container" style="margin-bottom: 0.5rem">
                                    <div class="accordion accordion-flush shadow-sm bg-white rounded"
                                       id="accordionFlushExample" style="margin-bottom: 0.5rem">
                                       <div class="accordion-item">
                                          <h2 class="accordion-header">
                                             <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-<%=index%>"
                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                               # <%= Subject.name %>
                                             </button>
                                          </h2>

                                          <div id="flush-<%=index%>" class="accordion-collapse collapse"
                                             data-bs-parent="#accordionFlushExample">
                                             <div class="accordion-body">
                                                <table class="table">
                                                   <tr>
                                                      <thead>
                                                         <th class="col">Subject Name</th>
                                                         <th class="col">Subject Code</th>
                                                         <th class="col">Subject Desc</th>
                                                         <th class="col">Subject Tags</th>

                                                      </thead>
                                                   </tr>
                                                   <tr>
                                                      <td><%= Subject.name %></td>
                                                      <td><%= Subject.code %></td>
                                                      <td><%= Subject.desc %></td>
                                                      <td><%= Subject.tags %></td>
                                                   </tr>
                                                </table>

                                                <div class="table-responsive">
                                                   <table class="table">
                                                      <tr>
                                                         <thead>
                                                            <th class="col">University</th>
                                                            <th class="col">Course</th>
                                                            <th class="col">Branch</th>
                                                            <th class="col">Year</th>
                                                            <th class="col">Semester</th>
                                                         </thead>
                                                      </tr>
                                                      <tr>
                                                         <td>
                                                            <%= University.name %>
                                                         </td>
                                                         <td>
                                                            <%= Course.name %>
                                                         </td>
                                                         <td>
                                                            <%= Branch.name %>
                                                         </td>
                                                         <td>
                                                            <%= Year.name %>
                                                         </td>
                                                         <td>
                                                            <%= Sem.name %>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </div>
                                                   <div class="row py-3">
                                                      <div class="d-flex col justify-content-end">
                                                         <a
                                                            href="/close/<%= University.shortname %>/<%= Course.shortname %>/<%= Branch.shortname %>/<%= Year.name %>/<%= Sem.name %>/<%= Subject.code %>/<%= Subject.id %>"><button
                                                               class="btn btn-sm btn-outline-primary me-2 ">Next</button></a>
                                                         <form
                                                            action="/close/<%= University.shortname %>/<%= Course.shortname %>/<%= Branch.shortname %>/<%=Year.name%>/<%=Sem.name%>/<%=Subject.id%>?_method=DELETE"
                                                            method="post">
                                                            <button type="submit"
                                                               class="btn btn-sm btn-outline-danger ">Delete</button>
                                                         </form>
                                                      </div>

                                                   </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              <% }) %>
                                 <% }) %>
                                 <% }) %>
                                    <% }) %>
                                       <% }) %>
                                          <% }) %>
                                             <%- include('partials/script.ejs') %>
   </body>

</html>