<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs',{title:"note"}) %>
<body>
    <div class="main">
      <%- include('partials/sidebar') %>

        <div class="main-right">
            <%- include('partials/nav') %>
            <div class="main-right-top">
              <b>Unit Page</b>
              <div class="addModal">
                 <form method="post" enctype="multipart/form-data" >
                    <button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                       <div class="modal-dialog">
                          <div class="modal-content">
                             <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Unit</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                             </div>
                             <div class="modal-body">
                                <div class="form-group">
                                   <label for="recipient-name" class="col-form-label">Unit
                                   Name:</label>
                                   <input name="name" type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="form-group">
                                   <label for="message-text" class="col-form-label">Unit
                                   Description:</label>
                                   <textarea name="desc" class="form-control" id="message-text"></textarea>
                                </div>
                                <div class="form-group">
                                   <label for="recipient-name" class="col-form-label">Unit
                                   Tags:</label>
                                   <input name="tags" type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="form-group">
                                   <label for="recipient-name" class="col-form-label">Upload File
                                   :</label>
                                   <input name="pdf" type="file" class="form-control" id="recipient-name">
                                </div>
                             </div>
                             <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                             </div>
                          </div>
                       </div>
                    </div>
                 </form>
              </div>
           </div>

           <div class="main-right-bottom">
            <% if (noteData.length>0) { %>
            <% var index=0; %>
            <% for( let noteArray of noteData ) { %>
            <% index++ %>
            <div class="accordion mb-5 " id="accordionFlushExample">
               <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                     data-bs-target="#flush-<%=index%>" aria-expanded="false"
                     aria-controls="flush-collapseOne">
                  #<%= noteArray.name %>
                  </button>
                  <div id="flush-<%=index%>" class="accordion-collapse collapse"
                     aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body">
                        <table class="table align-middle table-sm table-hover">
                           <thead class="thead-dark">
                              <tr>
                                 <td>Name</td>
                                 <td>Description</td>
                                 <td>Tags</td>
                                 <td>View Pdf</td>
                                 <td>Action</td>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="fs-6"> 
                                 <td><%= noteArray.name %></td>
                                 <td><a href="/close/notes/desc/<%= noteArray.id %>"><button type="button" class="btn btn-link">View</button></a></td>
                                 <td><a href="/close/notes/tags/<%= noteArray.id %>"><button type="button" class="btn btn-link">View</button></a></td>
                                 <td><a href="<%= noteArray.url %>"><button type="button" class="btn btn-sm btn-outline-success">Click</button></a></td>
                                 <td>
                                    <form
                                       action="/close/note/<%= noteArray.id %>/<%= noteArray.pdf_name %>?_method=DELETE"
                                       method="post">
                                       <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                    </form>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <% } %>
            </div>
            <% } %>
         </div>

         <%- include('partials/script') %>
 </body>
</html>
