<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs',{title:"University"}) %>

   <body>
      <%- include('partials/nav') %>
      <%- include('partials/breadcrumb') %>

            <!-- Add University Modal -->
            <form method="post" enctype="multipart/form-data">
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                           <div class="form-group">
                              <label for="shortname" class="col-form-label">University
                                 Shortname :</label>
                              <input name="shortname" type="text" class="form-control" id="shortname">
                           </div>

                           <div class="form-group">
                              <label for="name" class="col-form-label">University
                                 Name :</label>
                              <input name="name" type="text" class="form-control" id="name">
                           </div>

                           <div class="form-group">
                              <label for="desc" class="col-form-label">University
                                 Description :</label>
                              <textarea name="desc" class="form-control" id="desc"></textarea>
                           </div>

                           <div class="form-group">
                              <label for="tags" class="col-form-label">University
                                 Tags :</label>
                              <input name="tags" type="text" class="form-control" id="tags">
                           </div>

                           <div class="form-group">
                              <label for="imgFile" class="col-form-label">Upload University Logo</label>
                              <input name="pdf" type="file" class="form-control" id="imgFile">
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                           <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                     </div>
                  </div>
               </div>
            </form>

            <!-- Information About Universities -->
            <% var index=0; %>
               <% for( let uni of uniData ) { %>
                  <% index++ %>
                     <div class="container">
                        <div class="accordion accordion-flush " id="accordionFlushExample" style="margin-bottom: .5rem;">
                           <div class="accordion-item">
                              <h2 class="accordion-header">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-<%=index%>" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <%=uni.name%>
                                 </button>
                              </h2>
                              <div id="flush-<%=index%>" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionFlushExample">
                                 <div class="accordion-body">
                                    <ul>
                                       <li><code>University Name</code>&nbsp;:&nbsp;<%= uni.name %>
                                       </li>
                                       <li><code>University Shortname</code>&nbsp;:&nbsp;<%= uni.shortname %>
                                       </li>
                                       <li><code>University Description</code>&nbsp;:&nbsp;<%= uni.desc %>
                                       </li>
                                       <li><code>University Tags</code>&nbsp;:&nbsp;<%= uni.tags %>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
               <% } %>
      <%- include('partials/script.ejs') %>
   </body>

</html>