<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('includes/nav') %>
    <form action="" method="post">

    <div class="options-wrapper">

        <% branchQuery.forEach(element => { %>
            <div class="option-container">
    
                <div class="option-container-top">
    
                    <a href="/course/<%= element.id %>">#&nbsp<%=element.name%></a>
    
                    <% uniQuery.forEach(element => { %>
                        <a><%=element.name%></a>
                    <% }) %>
    
                </div>
    
            </div>
        <% }) %>
    
    </div>
    <%- include('includes/script') %>
</body>
</html>