<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('includes/nav') %>
    <%- include('includes/breadcrumb', { items: breadcrumbs }) %>
    <div class="options-wrapper">
        <% uniQuery.forEach(Uni => { %>
            <% Uni.Course.forEach(Course => { %>
                <% Course.Branch.forEach(Branch => { %>
                    <!-- lowerCase Logic for Branch Shortname -->
                    <%  
                        var u = Uni.shortname
                        var c = Course.shortname
                        var b = Branch.shortname 
                        var lowerU = u.toLowerCase();
                        var lowerC = c.toLowerCase();
                        var lowerB = b.toLowerCase();
                    %>
                    <div class="option-container">
                        <div class="option-container-top">
                            <a href="/<%=lowerU%>/<%=lowerC%>/<%=lowerB%>">#&nbsp<%=Branch.name%></a>
                            <a><%=Uni.name%></a>
                        </div>
                    </div>
                   <% }) %>
            <% }) %>
        <% }) %>
    </div>
    <%- include('includes/script') %>
</body>
</html>

