<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('includes/nav') %>
    <%- include('includes/breadcrumb', { items: breadcrumbs }) %>
    <div class="options-wrapper">
        <% uniQuery.forEach(uni => { %>
            <% uni.branch.forEach(branch => { %>
                <% branch.course.forEach(course => { %>

                    <!-- LowerCase Logic for Branch , Course Shortname -->
                    <%  
                        var b = branch.shortname 
                        var c = course.code 
                        var lowerB = b.toLowerCase();
                        var lowerC = c.toLowerCase();
                    %>
                    <div class="option-container">
                        <div class="option-container-top">
                            <a href="/<%= uni.shortname %>/<%=lowerB%>/<%=lowerC%>">#&nbsp;<%= course.name %></a>
                            <a><%= branch.name %></a>
                        </div>
                    </div>
                <% }) %>
            <% }) %>
        <% }) %>
    </div>
    <%- include('includes/script') %>
</body>
</html>