<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('includes/nav') %>
    <div class="options-wrapper">
        <% uniQuery.forEach(Uni => { %>
                <% Uni.Course.forEach(Course => { %>
                    <!-- LowerCase Logic for Branch , Course Shortname -->
                    <%  
                        var c = Course.shortname
                        var lowerC = c.toLowerCase();
                    %>
                    <div class="option-container">
                        <div class="option-container-top">
                            <a href="/<%=Uni.shortname%>/<%=lowerC%>/">#&nbsp;<%= Course.name %></a>
                            <a><%= Course.shortname %></a>
                        </div>
                    </div>
                <% }) %>
        <% }) %>
    </div>
    <%- include('includes/script') %>
</body>
</html>