<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('includes/nav') %>
    <div class="options-wrapper">
        <% branchQuery.forEach(branch => { %>
            <% branch.course.forEach(course => { %>
                <div class="option-container">
                    <div class="option-container-top">
                        <a href="/year/<%= branch.id %>/<%=course.id%>">#&nbsp;<%= course.name %></a>
                        <a><%= branch.name %></a>
                    </div>
                </div>
            <% }) %>
        <% }) %>
    </div>
    <%- include('includes/script') %>
</body>
</html>