<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('includes/nav') %>
    <div class="options-wrapper">
        <% uniQuery.forEach(uni => { %>
            <% uni.branch.forEach(branch => { %>
                <% branch.course.forEach(course => { %>
                    <div class="option-container">
                        <div class="option-container-top">
                            <a href="/<%= uni.name %>/<%= branch.shortname %>/<%=course.code%>">#&nbsp;<%= course.name %></a>
                            <a><%= branch.name %></a>
                        </div>
                    </div>
                <% }) %>
            <% }) %>
        <% }) %>
    </div>
    <%- include('includes/script') %>
</body>
</html>