<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
    <%- include('partials/nav') %>
            <div class="home-wrapper">
                <%- include('partials/search') %>
                <%- include('partials/select') %>
            </div>
    <%- include('includes/script') %>
    <%- include('includes/footer') %>
</body>
</html>

