<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('includes/nav') %>
    <%- include('includes/breadcrumb', { items: breadcrumbs }) %>
    <div class="sem-container">
        <% uniQuery.forEach(Uni => { %>
            <% Uni.Course.forEach(Course=> { %>
                <% Course.Branch.forEach(Branch => { %>
                    <% Branch.Year.forEach(Year => { %>
                        <% Year.Semester.forEach(Sem => { %>
                            <div class="sem-header"><%=Course.shortname%>&nbsp;<%=Branch.shortname%>&nbsp;<%=Year.name%>&nbsp;<%= Sem.name %></div>
                            <% Sem.Subject.forEach(Subject=> { %>
                                <div class="sem-subjects">
                                    <div class="sub-dox"><a href="">#<%=Subject.code%>&nbsp;<%= Subject.name %></a></div>
                                </div>
                            <% }) %>
                        <% }) %>
                    <% }) %>
                <% }) %>
            <% }) %>
        <% }) %>
    </div>
    <%- include('includes/script') %>
</body>
</html>
