<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('includes/nav') %>
    <div class="sem-container">
        <% uniQuery.forEach(uni => { %>
            <% uni.branch.forEach(branch=> { %>
                <% branch.course.forEach(course => { %>
                    <% course.years.forEach(year => { %>
                        <% year.semester.forEach(sem => { %>
                            <div class="sem-header"><%=branch.shortname%>&nbsp;<%=course.code%>&nbsp;<%=year.name%>&nbsp;<%= sem.name %></div>
                            <% sem.subject.forEach(subject=> { %>
                                <div class="sem-subjects">
                                    <div class="sub-dox"><a href="">#<%=subject.code%>&nbsp;<%= subject.name %></a></div>
                                </div>
                            <% }) %>
                        <% }) %>
                    <% }) %>
                <% }) %>
            <% }) %>
        <% }) %>
    </div>
    <%- include('includes/script') %>
</body>
</html>
