<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', { cssfilename: 'subjectpage', title}) %>
<body>
    <%- include('includes/nav') %>
    <div class="p-3">
        <%- include('includes/breadcrumb', { items: breadcrumbs }) %>
    </div>
    <section class="container subjects-section accordion accordion-flush" id="accordionFlushCommon">
        <!-- Semesters -->
        <% var index=0; %>
        <% uniQuery.forEach(Uni => { %>
            <% Uni.Course.forEach(Course=> { %>
                <% Course.Branch.forEach(Branch => { %>
                    <% Branch.Year.forEach(Year => { %>
                        <% Year.Semester.forEach(Sem => { %>
                            <% index++; %>
                            <div class="bg-light mb-2 rounded accordion-item">
                                <div class="h6 fw-semibold opacity-75 accordion-header"> 
                                    <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= index %>" aria-expanded="false">
                                        <%= Sem.name %>:
                                    </button>
                                </div>
                                <div id="flush-collapse<%= index %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushCommon">
                                    <% if(Sem.Subject.length == 0){ %>
                                    <div class="text-center opacity-75 px-3 py-2">No data yet</div>
                                    <% } %>
                                    <% Sem.Subject.forEach(Subject=> { %>
                                    <div class="container rounded py-2 px-3">
                                        <a href="">#<%=Subject.code%>&nbsp;<%= Subject.name %></a>
                                    </div>
                                    <% }) %>
                                </div>
                            </div>
                        <% }) %>
                    <% }) %>
                <% }) %>
            <% }) %>
        <% }) %>
        <!-- Previous-Year -->
        <div class="bg-light mb-2 rounded accordion-item">
            <div class="h6 fw-semibold opacity-75 accordion-header"> 
                <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= index+1 %>" aria-expanded="false">
                    Previous Year:
                </button>
            </div>
            <div id="flush-collapse<%= index+1 %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushCommon">
                <!-- <div class="text-center opacity-75 px-3 py-2">No data yet</div> -->
                <div class="container rounded py-2 px-3">
                    <a href="">#Math1&nbsp;2015</a>
                </div>
                <div class="container rounded py-2 px-3">
                    <a href="">#Math1&nbsp;2016</a>
                </div>
                <div class="container rounded py-2 px-3">
                    <a href="">#Math1&nbsp;2017</a>
                </div>
            </div>
        </div>
    </section>
    <%- include('includes/script') %>
</body>
</html>
