<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', { cssfilename: 'subjectpage'}) %>
<body>
    <%- include('includes/nav') %>
    <div class="p-3">
        <%- include('includes/breadcrumb', { items: breadcrumbs }) %>
    </div>
    <section class="container subjects-section">
        <% uniQuery.forEach(Uni => { %>
            <% Uni.Course.forEach(Course=> { %>
                <% Course.Branch.forEach(Branch => { %>
                    <% Branch.Year.forEach(Year => { %>
                        <% Year.Semester.forEach(Sem => { %>
                            <div class="h6 fw-light"><%= Sem.name %>:</div>
                            <% Sem.Subject.forEach(Subject=> { %>
                                <div class="container rounded subject p-3 mb-3 mx-2">
                                    <a href="">#<%=Subject.code%>&nbsp;<%= Subject.name %></a>
                                </div>
                            <% }) %>
                        <% }) %>
                    <% }) %>
                <% }) %>
            <% }) %>
        <% }) %>
    </section>
    <%- include('includes/script') %>
</body>
</html>
