<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

    <body class="branch-body">
        <%- include('partials/nav') %>
            <div class="options-wrapper">

                <% data1.forEach(element=> { %>
                    <div class="option-container">

                        <div class="option-container-top">

                            <a href="/semester/<%= element.id %>">#&nbsp<%=element.name%></a>

                            <% data2.forEach(element=> { %>
                                <a href="/course/<%= element.branch_id%>">
                                    <% branch.forEach(element=> { %>
                                        <%= element.branch.shortname %>
                                            <% }) %>
                                                <%=element.name%>
                                </a>
                                <% }) %>

                        </div>

                    </div>
                    <% }) %>

            </div>
            <%- include('includes/script') %>
    </body>

</html>