<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('includes/nav') %>
    <div class="options-wrapper">
        <% uniQuery.forEach(Uni => { %>
            <% Uni.Course.forEach(Course => { %>
                <% Course.Branch.forEach(Branch => { %>
                    <% Branch.Year.forEach(Year => { %>
                        <%  
                        var u = Uni.shortname
                        var c = Course.shortname
                        var b = Branch.shortname 
                        var y = Year.name
                        var lowerU = u.toLowerCase();
                        var lowerB = b.toLowerCase();
                        var lowerC = c.toLowerCase();
                        let removeSpaceY = y.replace(/\s/g, '','%')
                        var lowerY = y.toLowerCase();
                        %>
                        <div class="option-container">
                            <div class="option-container-top">
                                <a href="/<%=lowerU%>/<%=lowerC%>/<%=lowerB%>/<%=lowerY%>">#&nbsp;<%=Year.name%></a>
                                <a><%= Branch.shortname %>&nbsp;<%= Course.name %></a>
                            </div>
                        </div>
                    <% }) %>
                <% }) %>
            <% }) %>
        <% }) %>
    <%- include('includes/script') %>
</body>
</html>