<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('includes/nav') %>
    <div class="options-wrapper">
        <% branchQuery.forEach(branch => { %>
            <% branch.course.forEach(course => { %>
                <% course.years.forEach(year => { %>
                    <div class="option-container">
                        <div class="option-container-top">
                            <a href="/sub/<%= branch.id %>/<%= year.id %>">#&nbsp;<%=year.name%></a>
                            <a><%= branch.shortname %>&nbsp;<%= course.name %></a>
                        </div>
                    </div>
                <% }) %>
            <% }) %>
        <% }) %>
    <%- include('includes/script') %>
</body>
</html>